# Supabase Configuration
SUPABASE_PROJECT_ID=your_supabase_project_id
SUPABASE_URL="https://${SUPABASE_PROJECT_ID}.supabase.co"
SUPABASE_AUTH_URL="${SUPABASE_URL}/auth/v1/.well-known/jwks.json"
SUPABASE_API_KEY=your_supabase_api_key
SUPABASE_COOKIE_AUTH_NAME="sb-${SUPABASE_PROJECT_ID}-auth-token"

# Centrifugo Configuration
CENTRIFUGO_CLIENT_TOKEN_HMAC_SECRET_KEY=your_centrifugo_hmac_secret_key
CENTRIFUGO_GRPC_API_PORT=10000
CENTRIFUGO_ADMIN_PASSWORD=your_centrifugo_admin_password
CENTRIFUGO_ADMIN_SECRET=your_centrifugo_admin_secret

# Database Configuration (already set in docker-compose)
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=weeate

# BACKEND
DB_HOST=postgres
DB_PORT=5432
DB_USER="${POSTGRES_USER}"
DB_PASSWORD="${POSTGRES_PASSWORD}"
DB_NAME="${POSTGRES_DB}"
CENTRI_HMAC_SECRET="${CENTRIFUGO_CLIENT_TOKEN_HMAC_SECRET_KEY}"
CENTRI_GRPC_API_PORT="${CENTRIFUGO_GRPC_API_PORT}"
CENTRI_GRPC_API_HOST=

# ImageKit
IMAGE_KIT_API_KEY=your_imagekit_private_key
IMAGEKIT_URL=https://ik.imagekit.io/your_imagekit_id

# FRONTEND - Supabase (Vite)
# Create a project at https://app.supabase.com and copy the values below
BACKEND_URL=

VITE_SUPABASE_URL="${SUPABASE_URL}"
VITE_SUPABASE_PUBLISHABLE_OR_ANON_KEY=your_supabase_publishable_key
VITE_BACKEND_URL="http://localhost:8080/api"
VITE_AUTH_COOKIE_NAME="${SUPABASE_COOKIE_AUTH_NAME}"
VITE_IMAGEKIT_URL="${IMAGEKIT_URL}"
VITE_IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
VITE_WEBSOCKET_URL="ws://localhost:8000/connection/websocket"