name: weeate

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend
    ports:
      - 8080:8080
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:18-alpine
    container_name: postgres
    env_file:
      - .env
    #ports:
    #  - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped
    shm_size: 128mb

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile.dev
    container_name: frontend
    command: bun run dev --host
    env_file:
      - .env
      - .env.dev
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    ports:
      - 3000:3000
    volumes:
      - ./frontend/:/app/frontend/
      - /app/frontend/node_modules
      - ./env:/app/
    restart: unless-stopped

volumes:
  db_data:
